<div class="container">

  <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
  <script>
      SC.initialize({
          client_id: '9f4653e84b164bb44aadc5d79ff55863',
          redirect_uri: "http://collaborave.herokuapp.com/callback"
      });
  </script>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div id="welcome-banner">
        <h1><%= @party.name %></h1>
        <h3><a class="btn btn-lg btn-info"
               href="https://twitter.com/intent/tweet?text=Come%20%26%20Party%20with%20me%20on%20%40Collaborave!%20Add%20songs%20to%20my%20playlist%20here%3A%20&url=http%3A%2F%2Fcollaborave.herokuapp.com/parties/<%=  @party.id%>&via=NYDrewReynolds"
               data-size="large" data-count="none"><i class="fa fa-twitter"></i> Share Your Party Link</a></h3>
        <hr>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <div id="welcome-banner">
        <h2>Add a Song!</h2>
      </div>
      <div class="input-group">
        <input id="search" type="search" name="search" type="text" class="form-control" placeholder="Search SoundCloud">
      <span class="input-group-btn">
        <button class="btn btn-default btn-search" type="button">Go!</button>
      </span>
      </div>
      <div id="sc-results"></div>
    </div>

    <div class="col-lg-7">
      <div id="welcome-banner">
        <h2>Tracklist</h2>
      </div>
      <div id="player" class="sc-player">
      </div>

      <script>
          (function () {
              var script = document.createElement("script");

              script.type = "text/javascript";
              script.async = true;
              script.src = "//sd.toneden.io/production/toneden.loader.js"

              var entry = document.getElementsByTagName("script")[0];
              entry.parentNode.insertBefore(script, entry);
          }());

          ToneDenReady = window.ToneDenReady || [];
          ToneDenReady.push(function () {
              // This is where all the action happens:
              ToneDen.player.create({
                  dom: "#player",
                  skin: "light",
                  tracksPerArtist: 4,
                  shrink: false,
                  visualizerType: 'bars',
                  urls: [
                          <% @party.songs.each do |song| %>
                          "<%= song.url %>",
                          <% end %>
                  ]
              });
          });
      </script>

    </div>
  </div>


</div>
