<div class="container">

  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <div id="party-sidebar">
        <h1><%= @party.name %></h1>
        <%= render 'shared/click_to_tweet' %>
        <hr>
      </div>
      <div class="input-group">
        <input id="search" type="search" name="search" type="text" class="form-control" placeholder="Add Songs via SoundCloud">
      <span class="input-group-btn">
        <button class="btn btn-default btn-search" type="button">Go!</button>
      </span>
      </div>
      <div id="sc-results"></div>
    </div>

    <div class="col-lg-6 col-lg-offset-1">
      <div id="player" class="sc-player">
      </div>
    </div>
  </div>

</div>
<%= render 'shared/player' %>
