<script>
    $(function () {
        $(".element").typed({
            strings: ["Parties.", "Barbecues.", "Friends."],
            typeSpeed: 200,
            startDelay: 0,
            backSpeed: 0,
            backDelay: 700,
            loop: true,
        });
    });
</script>
<div id="home-container">
  <div id="home-banner">
    <h1>A Social Playlist For <span class="element"></span></h1>
    <hr>
    <a type="button" href="http://localhost:3000/home" class="btn btn-lg btn-info btn-ghost">Login With Twitter</a>
  </div>
</div>
