<script>
    $(function () {
        $(".element").typed({
            strings: ["Parties.", "Barbecues.", "Friends.", "Girl's Night."],
            typeSpeed: 200,
            startDelay: 0,
            backSpeed: 0,
            backDelay: 700,
            loop: true,
        });
    });
</script>
<style>
    body#background {
        background: linear-gradient(
                rgba(220, 20, 60, 0.75),
                rgba(220, 20, 60, 0.75)
        ),
        url('http://guestofaguest.com/wp-content/uploads/2009/05/img_1461.jpg') no-repeat 50% 50% fixed;
        /*background: url('http://www.juiced.today/wp-content/uploads/2015/03/house-party-4.jpg') no-repeat 50% 50% fixed;*/
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
    }
</style>

<div id="home-banner">
  <h1>A Social Playlist For <span class="element"></span></h1>
  <hr>
  <%= link_to "Login With Twitter", login_path, class:"btn btn-lg btn-info btn-ghost" %>
</div>
