<h3><a class="btn btn-lg btn-info"
       href="https://twitter.com/intent/tweet?text=Come%20%26%20Party%20with%20me%20on%20%40Collaborave!%20Add%20songs%20to%20my%20playlist%20here%3A%20&url=http%3A%2F%2Fcollaborave.herokuapp.com/parties/<%= @party.slug %>&via=NYDrewReynolds"
       data-size="large" data-count="none"><i class="fa fa-twitter"></i> Share Your Party Link</a></h3>
