<div class="container">

  <div class="row">
    <% if current_user.parties.empty? %>
        <div class="col-lg-6 col-lg-offset-3">
          <div id="welcome-banner">
            <h1>Start a Party!</h1>
            <%= render 'shared/party_form' %>
          </div>
        </div>
    <% else %>
        <div class="col-lg-4 col-lg-offset-2">
          <h1>Start a Party!</h1>
          <%= render 'shared/party_form' %>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
          <h1>Your Past Parties</h1>
        <%= render 'shared/party_list' %>
    <% end %>
    </div>
  </div>
</div>
