<script>
    var app = angular.module('app', ['plangular'])
            .config(function (plangularConfigProvider) {
                plangularConfigProvider.clientId = '9f4653e84b164bb44aadc5d79ff55863';
            });
</script>

<div id="welcome-banner">
  <h1>Start a Party</h1>
  <hr>

  <div plangular="https://soundcloud.com/nydrewreynolds/ed-sheeran-dont-lucas-luck-remix">
    <h3>{{track.user.username}} - {{track.title}}</h3>
    <button ng-click="play()">Play</button>
    <button ng-click="pause()">Pause</button>
    <progress
    ng-click="seek($event)"
    ng-value="currentTime / duration">
      {{ currentTime / duration }}
    </progress>
    <a ng-href="{{track.permalink_url}}">View on SoundCloud</a>
  </div>
</div>
