/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: Lato, sans-serif;
    /*background-color: #DC143C;*/
}

#home-banner {
    position: fixed;
    top: 25%;
    right: 0;
    left: 0;
    z-index: 2;
    margin: auto;
    max-width: 700px;
    color: #fff;
    text-align: center;
}

#home-banner h1 {
    font-size: 5.5em;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 0;
}

#home-banner hr {
    border: 1px solid white;
    width: 150px;
}

.btn-ghost {
    font-size: 2em;
    background: transparent;
    color: #F2F2F2;
    border: 3px solid white;

    /* CSS Transition */
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;

}

.navbar-default {
    background-color: #DC143C;
    border-color: #ad102f;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle {
    background-color: #FFF;
}
#welcome-banner {
    position: fixed;
    top: 10%;
    right: 0;
    left: 0;
    z-index: 2;
    margin: auto;
    max-width: 700px;
    color: #000;
    text-align: center;
}

#welcome-banner h1 {
    font-size: 5.5em;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 0;
}

#welcome-banner hr {
    border: 1px solid black;
    width: 150px;
}
